# JavaScript Node CircleCI 2.0 configuration file
# https://circleci.com/docs/language-javascript/
version: 2.1

# https://circleci.com/developer/orbs/orb/codecov/codecov
orbs:
  codecov: codecov/codecov@5.0.3

jobs:
  build:
    docker:
      # https://circleci.com/developer/images/image/cimg/node
      - image: cimg/node:24.12.0

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v24-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v24-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v24-dependencies-{{ checksum "package.json" }}

      - run: npm run lint
      - run: npm test
      - run: npm run coverage
      - codecov/upload

workflows:
  upload-to-codecov:
    jobs:
      - build